# packages in environment at /home/yashrathi/anaconda3/envs/blog-flask-app:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
alembic                   1.4.3                    pypi_0    pypi
astroid                   2.4.2            py39h06a4308_0  
autoflake                 1.4                      pypi_0    pypi
autopep8                  1.5.4                      py_0  
bcrypt                    3.2.0                    pypi_0    pypi
bleach                    3.2.1                    pypi_0    pypi
blinker                   1.4                      pypi_0    pypi
ca-certificates           2020.12.8            h06a4308_0  
certifi                   2020.12.5        py39h06a4308_0  
cffi                      1.14.4                   pypi_0    pypi
click                     7.1.2                      py_0  
dnspython                 2.1.0                    pypi_0    pypi
email-validator           1.1.2                    pypi_0    pypi
flask                     1.1.2                      py_0  
flask-bcrypt              0.7.1                    pypi_0    pypi
flask-login               0.5.0                    pypi_0    pypi
flask-mail                0.9.1                    pypi_0    pypi
flask-migrate             2.5.3                    pypi_0    pypi
flask-sqlalchemy          2.4.4                    pypi_0    pypi
flask-wtf                 0.14.3                   pypi_0    pypi
gunicorn                  20.0.4                   pypi_0    pypi
idna                      3.1                      pypi_0    pypi
isort                     5.6.4                      py_0  
itsdangerous              1.1.0                      py_0  
jinja2                    2.11.2                     py_0  
lazy-object-proxy         1.4.3            py39h27cfd23_2  
ld_impl_linux-64          2.33.1               h53a641e_7  
libedit                   3.1.20191231         h14c3975_1  
libffi                    3.3                  he6710b0_2  
libgcc-ng                 9.1.0                hdf63c60_0  
libstdcxx-ng              9.1.0                hdf63c60_0  
mako                      1.1.3                    pypi_0    pypi
markupsafe                1.1.1            py39h27cfd23_0  
mccabe                    0.6.1            py39h06a4308_1  
ncurses                   6.2                  he6710b0_1  
openssl                   1.1.1i               h27cfd23_0  
packaging                 20.8                     pypi_0    pypi
pillow                    8.1.0                    pypi_0    pypi
pip                       20.3.3           py39h06a4308_0  
pycodestyle               2.6.0                      py_0  
pycparser                 2.20                     pypi_0    pypi
pyflakes                  2.2.0                    pypi_0    pypi
pylint                    2.6.0            py39h06a4308_0  
pyparsing                 2.4.7                    pypi_0    pypi
python                    3.9.1                hdb3f193_2  
python-dateutil           2.8.1                    pypi_0    pypi
python-editor             1.0.4                    pypi_0    pypi
readline                  8.0                  h7b6447c_0  
setuptools                51.0.0           py39h06a4308_2  
six                       1.15.0           py39h06a4308_0  
sqlalchemy                1.3.22                   pypi_0    pypi
sqlite                    3.33.0               h62c20be_0  
tk                        8.6.10               hbc83047_0  
toml                      0.10.1                     py_0  
tzdata                    2020d                h14c3975_0  
webencodings              0.5.1                    pypi_0    pypi
werkzeug                  1.0.1                      py_0  
wheel                     0.36.2             pyhd3eb1b0_0  
wrapt                     1.11.2           py39h27cfd23_0  
wtforms                   2.3.3                    pypi_0    pypi
xz                        5.2.5                h7b6447c_0  
zlib                      1.2.11               h7b6447c_3  
