{% for post in posts.items %}
        <article class="media content-section">
          <div class="row">
            <div class="col-lg-1 col-2 d-none d-sm-block">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pic/' + post.author.image_file) }}">
        </div>
        <div class="col">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('profile.user_posts',username = post.author.username)}}">
                {{ post.author.username }}
              </a>
              <small class="text-muted">{{ post.date|human_date }}</small>
          </div>
            <h2><a class="article-title" href="{{url_for('posts.single_post',post_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.short_description }}</p>
          </div>
        </div>
        </div>
        </article>
    {% endfor %}