{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% set active_page = "account" %}
{% block content %}
<h1 class="display-5 mt-2 mb-3">Change Password</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {% if category=='message' %}alert-warning{% else %}alert-{{category}}{% endif %}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.old_password,ph = "Old Password") }}
    {{ render_field(form.new_password,ph = "New Password", mt ='Should be between 6 and 200 characters long.') }}
    {{ form.submit(class='btn btn-outline-success') }}
</form>
{% endblock %}